{% extends 'dashboard_admin/admin_base.html' %}
{% load static %}
{% block content %}

<head>
  <style media="screen">
    .alert {
      margin-left: 25%;
      margin-right: 25%;
      padding: 20px;
      background-color: #ffad57;
      color: white;
    }

    .w3-panel p {
      padding-top: 10px;
    }

    .closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }

    .closebtn:hover {
      color: black;
    }
  </style>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>



<br> <br> <br><br>
<h2 style="text-align:center; color:rgba(97,188,217);">Feedbacks </h2>
<hr>
{%for f in feedbacks%}
<form action="{% url 'delete_feedback' f.id  %}" method="POST">
				
				{% csrf_token %}
        <div class="alert">
  <input class="closebtn"   type="submit" value="x" >&times;</input>
  <strong>{{f.date}} ||By : {{f.name}} ||Email : {{f.email}} </strong><br> {{f.subject}} <br> {{f.message}}
</div>
				

			
			</form>

{%endfor%}



{% endblock content %}
