{%extends 'base.html' %}

{% block content %}
<div class="text-center" style="width: 80%; margin: 0 auto">
    <h1>Welcome to the Password Reset Page</h1>
    <h3>
        Forgot your password? Please enter the email address you used to register
        with us and we will send you a link to reset your password
    </h3>
</div>
<br />

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form><br />
<div class="text-center">
    <a href="{% url 'home' %}">Return to home page</a>
</div>
{% endblock%}