{% extends 'dashboard_seller/dashboard.html' %}

{% block content %}
<link href="../static/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/assets/css/light-bootstrap-dashboard.css?v=2.0.0 " rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../static/assets/css/demo.css" rel="stylesheet" />
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">


			<p>Are you sure you want to delete "{{product.name}}"?</p>

			<form action="{% url 'delete_product' product.id  %}" method="POST">
				
				{% csrf_token %}
				<a class="btn btn-warning" href="{% url 'prod' %}">Cancel</a>

				<input class="btn btn-danger" type="submit" name="Confirm" value="confirm">
			</form>
		</div>
	</div>
</div>

{% endblock %}