{% extends "base.html" %}

{% block mainNavBar %}
{% include "includes/topNavBar.html" %}
{% endblock mainNavBar %}

{% block title %}Change Password Successfully{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item "><a href="{% url 'password_change' %}"></a></li>
<li class="breadcrumb-item active">Success</li>
{% endblock %}

{% block content %}
<div class="alert alert-success" role="alert">
    Your Password has been changed
</div>
<a href="{% url 'home' %}">Return To HOME</a>
{% endblock %}