{% extends "base.html" %}

{% block mainNavBar %}
{% include "includes/top_navbar.html" %}
{% endblock mainNavBar %}

{% block title %}Change Password{% endblock %}



{% block content %}
<style>
.h22{
    width:50%;
    margin-left:200px;
}
.change_pass{
    width:50%;
    margin-left:200px;
    margin-bottom:100px;
}
</style>
<br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/>
<h2 class="h22">Change password </h2>
<form  class="change_pass" method="post" id="changePassword" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html'%}
    <button type="submit" class="btn btn-warning">Change Password</button>
</form>
{% endblock %}

<script>
    let changePasswordForm = document.getElementById('changePassword'); // selecting the form

    addCartForm.addEventListener('submit', function (event) { // 1
        event.preventDefault()

        let data = new FormData(); // 2

        data.append("")
        data.append("csrfmiddlewaretoken", '{{csrf_token}}') // 3

        axios.post('addCart/<int:pk>', data) // 4
            .then(res => alert("Form Submitted")) // 5
            .catch(errors => console.log(errors)) // 6

    });
    // addWishlistForm.addEventListener('submit', function (event) { // 1
    //     event.preventDefault()

    //     let data = new FormData(); // 2

    //     data.append("csrfmiddlewaretoken", '{{csrf_token}}') // 3

    //     axios.post('addWishlist/<int:pk>', data) // 4
    //         .then(res => alert("Form Submitted")) // 5
    //         .catch(errors => console.log(errors)) // 6

    // });

</script>