{% extends "base.html" %}

{% block mainNavBar %}
{% include "includes/topNavBar.html" %}
{% endblock mainNavBar %}

{% block title %}Change Password{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Change Password</li>
{% endblock %}

{% block content %}
<form method="post" id="changePassword" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html'%}
    <button type="submit" class="btn btn-success">Change Password</button>
</form>
{% endblock %}

<script>
    let changePasswordForm = document.getElementById('changePassword'); // selecting the form

    addCartForm.addEventListener('submit', function (event) { // 1
        event.preventDefault()

        let data = new FormData(); // 2

        data.append("")
        data.append("csrfmiddlewaretoken", '{{csrf_token}}') // 3

        axios.post('addCart/<int:pk>', data) // 4
            .then(res => alert("Form Submitted")) // 5
            .catch(errors => console.log(errors)) // 6

    });
    // addWishlistForm.addEventListener('submit', function (event) { // 1
    //     event.preventDefault()

    //     let data = new FormData(); // 2

    //     data.append("csrfmiddlewaretoken", '{{csrf_token}}') // 3

    //     axios.post('addWishlist/<int:pk>', data) // 4
    //         .then(res => alert("Form Submitted")) // 5
    //         .catch(errors => console.log(errors)) // 6

    // });

</script>