@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900");
* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

body {
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #ffffff;
    color: #000000;
}

div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin-bottom: 0px;
}

a,
a:hover,
a:visited,
a:active,
a:link {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

.form-control {
    color: #ffac53;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.fill_height {
    height: 100%;
}

.super_container {
    width: 100%;
    overflow: hidden;
}

.nopadding {
    padding: 0px !important;
}

.button {
    display: inline-block;
    background: #0e8ce4;
    border-radius: 5px;
    height: 48px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.button a {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #ffffff;
    padding-left: 35px;
    padding-right: 35px;
}

.button:hover {
    opacity: 0.8;
}

.header {
    position: relative;
    width: 100%;
    z-index: 10;
}

.standard_dropdown li {
    display: inline-block;
    position: relative;
    height: 56px;
}

.standard_dropdown li li {
    display: block;
    width: 100%;
}

.standard_dropdown li li a {
    display: block;
    width: 100%;
    border-bottom: solid 1px #f2f2f2;
    font-size: 16px;
}

.standard_dropdown li:last-child a {
    border-bottom: none;
}

.standard_dropdown li.hassubs>a i {
    display: inline-block;
    margin-left: 5px;
}

.standard_dropdown li a {
    display: block;
    position: relative;
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    line-height: 56px;
    white-space: nowrap;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.standard_dropdown li a:hover {
    color: #0e8ce4;
}

.standard_dropdown li a i {
    display: none;
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
    transform: translateY(-1px);
    font-size: 12px;
}

.standard_dropdown li ul {
    display: block;
    position: absolute;
    top: 120%;
    left: 0;
    width: auto;
    visibility: hidden;
    opacity: 0;
    background: #ffffff;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
}

.standard_dropdown li:hover>ul {
    top: 100%;
    visibility: visible;
    opacity: 1;
}

.standard_dropdown ul ul {
    left: 100%;
    top: 0 !important;
}

.user_icon {
    display: inline-block;
    margin-right: 7px;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
    width: 15px;
}

.user_icon img {
    width: 100%;
}

.logo_container {
    height: 80px;
}

.logo {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.logo a {
    font-size: 36px;
    font-weight: 500;
    color: #0e8ce4;
}

.wishlist_cart {
    height: 90px;
}

.wishlist {
    margin-right: 50px;
}

.wishlist_icon img {
    width: 100%;
}

.wishlist_content {
    margin-left: 14px;
}

.wishlist_text a {
    font-size: 18px;
    font-weight: 400;
    color: white;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.wishlist_text a:hover {
    color: #ffac53;
}

.wishlist_count {
    margin-top: -2px;
    color: white;
    font-size: 14px;
}

.cart_count {
    position: absolute;
    bottom: -1px;
    right: -14px;
    width: 23px;
    height: 23px;
    background: #ffac53;
    border-radius: 50%;
    text-align: center;
}

.cart_count span {
    display: block;
    line-height: 23px;
    font-size: 12px;
    color: #ffffff;
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -ms-transform: translateY(1px);
    -o-transform: translateY(1px);
    transform: translateY(1px);
}

.cart_icon img {
    width: 100%;
}

.cart_content {
    margin-left: 28px;
}

.cart_text a {
    font-size: 18px;
    font-weight: 400;
    color: white;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.cart_text a:hover {
    color: #ffac53;
}

.cart_price {
    font-size: 14px;
    color: white;
    margin-top: -2px;
}

.main_nav {
    width: 100%;
    border-top: solid 1px #f2f2f2;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    background: #ffffff;
}

.header.scrolled .main_nav {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.main_nav_content {
    width: 100%;
    height: 60px;
}

.main_nav_dropdown li {
    margin-right: 35px;
}

.main_nav_dropdown li:last-child {
    margin-right: 0px;
}

.main_nav_dropdown li a {
    font-size: 18px;
    font-weight: 400;
    color: #a19a9a;
    line-height: 60px;
}

.main_nav_dropdown li li {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 0px;
}

.page_menu {
    margin-top: 15px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.page_menu_content {
    height: 0px;
    background: #0e8ce4;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
}

.page_menu_search {
    display: none;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.page_menu_search_input {
    width: 100%;
    height: 40px;
    background: #ffffff;
    border: none;
    outline: none;
    padding-left: 25px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1300px !important;
    }
}

@media only screen and (max-width: 1199px) {
    .main_nav_dropdown li {
        margin-right: 30px;
    }
    .main_nav_dropdown li a {
        font-size: 16px;
    }
}

@media only screen and (max-width: 991px) {
    .custom_dropdown {
        text-align: left;
    }
    .main_nav {
        margin-top: 56px;
    }
    .main_nav_menu {
        display: none;
    }
    .logo_container,
    .wishlist_cart {
        height: 125px;
    }
    .main_nav_content {
        background: #0e8ce4;
    }
    .menu_trigger_container {
        display: block;
    }
    .top_bar {
        height: 40px;
    }
    .top_bar_contact_item {
        font-size: 12px;
        margin-right: 20px;
        line-height: 40px;
    }
    .top_bar_contact_item a {
        font-size: 12px;
        line-height: 40px;
    }
    .top_bar_icon {
        margin-right: 4px;
    }
    .top_bar_icon img {
        width: 70%;
    }
    .top_bar_menu {
        display: none;
    }
    .top_bar_user a {
        font-size: 12px;
        line-height: 40px;
    }
    .user_icon {
        -webkit-transform: translateY(-1px);
        -moz-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
        -o-transform: translateY(-1px);
        transform: translateY(-1px);
        width: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .page_menu_search {
        display: block;
    }
    .main_nav {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 575px) {
    h2 {
        font-size: 24px;
    }
    p {
        font-size: 13px;
    }
    .top_bar {
        display: none;
    }
    .logo_container,
    .wishlist_cart {
        height: 72px;
    }
    .logo a {
        font-size: 24px;
    }
    .cat_burger {
        width: 16px;
        height: 12px;
    }
    .cat_burger span:nth-child(2) {
        top: 5px;
    }
    .cat_burger span:nth-child(3) {
        top: 10px;
    }
    .menu_trigger_text {
        font-size: 13px;
        margin-right: 10px;
    }
    .wishlist {
        margin-right: 23px;
    }
    .wishlist_content {
        margin-left: 6px;
    }
    .wishlist_text {
        display: none;
    }
    .cart_text {
        display: none;
    }
    .wishlist_text a,
    .cart_text a {
        font-size: 14px;
    }
    .wishlist_count,
    .cart_price {
        font-size: 12px;
    }
    .wishlist_icon {
        width: 20px;
    }
    .cart_content {
        margin-left: 18px;
    }
    .cart_icon {
        width: 17px;
        color: white;
    }
    .cart_count {
        width: 21px;
        height: 21px;
    }
    .cart_count span {
        line-height: 21px;
    }
    .top_bar_user {
        margin-left: 0px;
    }
    .main_nav {
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 0px;
    }
    .main_nav_content {
        height: 35px;
    }
    .menu_trigger_container {
        padding-right: 15px;
    }
    .page_menu_item>a {
        font-size: 12px;
    }
    .button {
        height: 32px;
    }
    .button a {
        font-size: 12px;
        line-height: 32px;
        padding-left: 25px;
        padding-right: 25px;
    }
}