<style>

</style>


  <header class="" id='navigation'>
      <nav class="navbar navbar-expand-lg  navbar-dark bg-dark ">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}"><img src="../static/images/logo_BLACK.png"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link"  href="{% url 'home' %}">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="#product">Our Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact Us</a>
              </li>
              </div>
      </nav>
    </header>





<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script>
$(function(){
// On recupere la position du bloc par rapport au haut du site
var position_top_raccourci = $("#navigation").offset().top;

//Au scroll dans la fenetre on déclenche la fonction
$(window).scroll(function () {

//si on a defile de plus de 150px du haut vers le bas
if ($(this).scrollTop() > position_top_raccourci) {

//on ajoute la classe "fixNavigation" a <div id="navigation">
$('#navigation').addClass("fixNavigation"); 
} else {

//sinon on retire la classe "fixNavigation" a <div id="navigation">
$('#navigation').removeClass("fixNavigation");
}
});
});
    $(function () {
        $("#search").autocomplete({
            source: "{% url 'search_form' %}",
            select: function (event, ui) {
                window.location.href = ui.item.value;
            }
        });
    });


const toggleButton = document.getElementsByClassName('toggle-button')[0]
const navbarLinks = document.getElementsByClassName('navbar-links')[0]

toggleButton.addEventListener('click', () => {
  navbarLinks.classList.toggle('active')
})

</script>