{% extends "base.html" %}



{% block main_navbar %}
{% include "includes/top_navbar.html" %}
{% endblock main_navbar %}

{% block title %}settings{% endblock title %}

{% block content %}
<div class="col-md-9">
    <div class="tab-content">
        <div class="tab-pane fade active show" id="account-general">

            
            <hr class="border-light m-0">

            <div class="card-body">
                <div class="form-group">
                  <form method="POST" action="" novalidate>
					{% csrf_token %}
					{% include "includes/form.html" %}
					<div class="d-flex justify-content-center mt-3 login_container">
						<input class="btn login_btn" type="submit" value="Login">
					</div>
				</form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>

</html>
{% endblock %}