



{% extends 'base.html' %}
{% load static %}

{% block mainNavBar %}
{% include "includes/topNavBar.html" %}
{% endblock mainNavBar %}

{% block content %}
<style>
.table{
    margin-top:100px;
}
</style>
<div class=" block row">
    <div class="col-lg-12">
        <div class="box-element">
            <a href="{% url 'home' %}" class="btn btn-outline-dark">&#8592;Continue Shopping</a>
            <br>
            <br>
            <table class="table">
                <tr>
                    <th><h5>Items: <strong>{{numOrders}}</strong></h5></th>
                    <th><h5>Total: <strong>${{total_price}}</strong></h5></th>
                    <th><a href="{% url 'checkout' %}" class="btn btn-success">Checkout</a></th>
                </tr>
            </table>
        </div>
         <table class="table">
                <tr>
                    <th><h4>Product</h4></th>
                    <th><h5>Category</h5></th>
                    <th><h5> Price</h4></th>
                    <th><h5>Quantity</h5></th>
                    <th><h5>Total</h5></th>
                </tr>
                 {%for cart in  carts %}
                <tr>
                    <td> <div class="d-flex flex-row"><img class="rounded" src="{{cart.product.photo.url}}" width="40">
                        <div class="ml-2"><span class="font-weight-bold d-block">{{cart.product.name}}</span></div>
                    </div></td>
                    <td><h6>{{cart.product.category}}</h6></td>
                    <td> <div ><h5 style="flex:1"  class="price">${{cart.product.price|floatformat:2}}</h5></div></td>
                    <td><div class="aa">
                        <h5 class="quantity">{{cart.quantity_carted}}</ph5>
                        <div class="quantity" id="hopla">
                            <a href="{% url 'increase_quantity' cart.pk %}" ><img src="{% static 'images/arrow-up.png'%}" class="chg-quantity"></a>
                            <a href="{% url 'decrease_quantity' cart.pk %}" ><img src="{% static 'images/arrow-down.png'%}" class="chg-quantity"></a>
                        </div>
                </div></td>
                    <td> <div ><h5  style="flex:1" class="total">${{cart.cart_total_price}}</h5></div></td>
                      <td>  <div><a id="remove" href="{% url 'delete_cart' cart.id %}" class="btn btn-outline-danger mb-2 update-cart"></a></div>
           </td>
                </tr>
                {% endfor %}
            </table>
        <br>
  </div>
  </div>    
<br> <br> <br>
<br> <br> <br>
<br> <br> <br>
{% endblock content %}
{% block script %}

{% endblock script %}