{% extends "base.html" %}

{% block title %}
{{categorie}}
{% endblock title %}

{% block mainNavBar %}
{% include "includes/topNavBar.html" %}
{% endblock mainNavBar %}

{% block content %}
<div class="d-flex">
	<div class="container">
		<div class="row">
			{% for product in products %}
			<div class="col-lg-4" id="product-{{product.id}}">
				<div class="card" style="width: 18rem">
					<a href="{%url 'view_product' product.id %}"
						><img
							src="{{ product.photo.url }}"
							class="card-img-top"
							alt=""
					/></a>
					<div class="card-body">
						<h5 class="card-title">{{product.name}}</h5>
						<hr />
						<p class="card-text">{{product.description}}</p>
						<p class="card-text">Price : {{product.price}}€</p>
						<div class="d-flex">
							<button href="#" id="add" class="btn btn-secondary me-2 " data-product={{product.id}} data-action="add">Add To Cart</button>
							<button id="addWishlist{{product.id}}" data-catid="{{product.id}}" class="addWishlist btn btn-outline-success" href="#">Add To WishList</button>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			<div class="pagination">
                <ul>
                    {% if products_list.has_previous %}
                    	<li><a href="?page={{products_list.previous_page_number}}">Previous</a></li>
                    {% endif %}
                    {% for pg in products_list.paginator.page_range %}
						{% if products_list.number == pg %}
							<li class="active"><a href="?page={{ pg }}">{{pg}}</a></li>
						{% else %}
							<li><a href="?page={{ pg }}">{{pg}}</a></li>
						{% endif%}
                    {% endfor %}
                    {% if products_list.has_next %}
                    	<li><a href="?page={{products_list.next_page_number}}">Next</a></li>
                    {% endif %}
                </ul>
            </div>
		</div>
	</div>
</div>
{% endblock content %}

{% block script %}
<script>
//ADD TO CART:
document.querySelectorAll('#add').forEach(item => {
    item.addEventListener('click',function(){
     
        let productId=this.dataset.product
        let action =this.dataset.action
        var url = '/send_data/'

        fetch(url, {
            method: 'POST',
            headers: {
                'content-Type': 'application/json',
                'X-CSRFToken':   csrf
            },
    
            body: JSON.stringify({'productId': productId, 'action':action})
        })
})
})
//ADD To Wishlist

$('.addWishlist').click(function () {
    var catid = $(this).attr("data-catid");
    $.ajax({
        type: 'GET',
        url: "/addwishlist/".concat(catid),
        data: {
            product_id: catid
        },
        success: function (data) {
            $('#numWishes').replaceWith(data.numWishes);
        },
    })
});


</script>
{% endblock script %}