<!-- prettier-ignore -->
{% extends 'base.html'%}
{% block title %}Wishlist{% endblock title %}
{% block main_navbar %}{% include "includes/navbar.html" %}{% endblock main_navbar %}
{% block content %}
<style>
.cont{
	
}
</style>

 
<div class="d-flex">

	<div class="container">
	<br>
	<h2 id ="product"><br><br><br><br>Check your wishlist</h2><br>
		<div class="row cont">
			{% for product in products %}
			<div id="myWish-{{product.id}}"  class="col-lg-4">
				<div class="card" style=" width:16em;">
					 <a href="{% url 'view_product' product.id %}"><img style="height:18em; width:16em;" src="{{product.product.photo.url}}" class="card-img-top" alt=""></a>
					<div class="card-body">
						<h5 class="card-title">{{product}}</h5>
						<hr />
						<div class="d-flex">
							<button  id="addCart" class="btn btn-secondary me-2 " onclick="window.location.reload()" data-product="{{product.id}}" data-action="add" href="#">Add To Cart</button>
							<button id="eliminateWish" href="#" data-catid="{{product.id}}" class="eliminateWish btn btn-info">Eliminate</button>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			<br><br>
		</div>
		<br/><br/><br/><br/>
	</div>
</div>	

{% endblock content %}

{% block script %}
<script type="text/javascript">
	////ADD TO CART:
document.querySelectorAll('#addCart').forEach(item => {
    item.addEventListener('click',function(){
     
        let productId=this.dataset.product
        let action =this.dataset.action
		console.log(productId)
		console.log(action)
        var url = '/send_data/'

        fetch(url, {
            method: 'POST',
            headers: {
                'content-Type': 'application/json',
                'X-CSRFToken':   csrf
            },
    
            body: JSON.stringify({'productId': productId, 'action':action})
        })
})
})
	$('.eliminateWish').click(function(){
		var catid = $(this).attr("data-catid");
		$.ajax({
			type:'GET',
			url: "/eliminate_wish/".concat(catid),
			data: {
				product_id: catid
			},
			success:function(data){
				$('#num_wishes').replaceWith(data.num_wishes);
				$('#myWish-'.concat(catid)).replaceWith("");
			}
		}) 
	});
</script>
{% endblock script %}